@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: #FFF8DC;
    padding: 16px;
    text-align: center;
}
section{
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-header > h1{
    margin: 0px;
    background-color: #0047AB;
    padding: 24px;
    text-align: center;
    color: white;
}

.nav-fitur{
    display: flex;
    flex-direction: row;
}

.nav-fitur > a{
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
}

.nav-fitur-active{
 background-color: #007BFF;   
}

.nav-fitur-non-active{
    background-color: #000080;   
}
.section-header{
    background-color: #F0F0F0;
    padding: 16px;
    
}

.border{
    border: 1px solid;
    width: 500px;
    height: 300px;
    position: relative;
    background-color: #FFFFFF;
    justify-self: center;

}

.border-hasil{
    border: 1px solid;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #FFFFFF;
    justify-self: center;
}

.text{
    text-align: left;

}

.text-container {
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: black;
    font-size: 16px;
    padding: 10px
  }

.section-image{
    background-image: url(../assets/persegi.jpg);
    background-color: white;
    width: 100px;
    height: 100px;
    justify-self: center;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.calculate-content{
    height: 300px;
}

.imput-nilai{
    width: 400px;
    padding: 10px;
    outline: none;
}

.button-hitung{
    
    text-align: center;
    padding: 6px;
    background-color: #007BFF;
    color: white;
}

.button-riset{
    
    text-align: center;
    padding: 6px;
    background-color: yellow;
    color: white;
    float: right;
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}

.section-hasil {
    border-radius: 8px;
    background: #f2f2f2;
    margin: 20px 20px 0px 20px;
    padding: 10px;
}

.rumus-perhitungan {
    padding: 15px;
    display: flex;
    justify-content:space-around
    
}

.hasil-perhitungan {
    display: flex;
    justify-content:space-around;
    padding: 15px;
    font-weight: bold;
}

